@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply dark:bg-j-blue
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--blue));
} */

#is-flipped {
  transform: rotateY(720deg);
}

/* .back {
  background-color: aqua;
} */  

main {
  @apply font-mont font-thin;
}

